<div class="content">

	<h3>Ranking</h3>

	<% unless @theranking.empty? %>
		<% for i in @theranking do %>
			<%= i[0] %>
			<small>(<%= i[1] %>)</small>
			<br>
		<% end %>

		<br>
		-------------------------
		<br>
		<% @ranks.each do |rank| %>
			<%= rank.team.city %>
			<%= rank.level %>
			<br>
		<% end %>
	<% end %>

</div>