<h3>Here is the overall ranking</h3>

<% if @ranks.empty? %>
	<%= link_to "Initialize the ranking", init_ranks_path %>
<% end %>

<% @ranks.each do |rank| %>
	<b><%= rank.team.acronym %></b>
	>> 
	<%= rank.level %>
	<br>
<% end %>