// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #######################
///// SITE LAYOUT
// #######################

.maincontainer{
	display:flex;
	height:100vh;
	width:1080px;
	margin:0 auto;
}
.leftcontent{
	flex:0 0 220px;
}
.leftcontent > img{
	width:90px;
	height:20px;
	margin:15px 0 0 40px;
}
.leftcontent ul{
	list-style:none;
	padding:0;
	margin: 35px 0 0 25px;
}
.leftcontent li{
	margin-bottom:24px;
}
.leftcontent li img{
	margin-right:15px;
}
.leftcontent li a{
	font-size:15px;
	font-weight:700;
	color:black;
	text-decoration:none;
	padding:8px 15px;
	border-radius:20px;
}
.leftcontent li a:hover{
	background-color:#EAFBF7;
	color:#05DFAA;
}
.centercontent{
	flex:1 0 auto;
	overflow-y: scroll;
	-ms-overflow-style: none;
}
.centercontent::-webkit-scrollbar {
  display: none;
}
.rightcontent{
	flex:0 0 200px;
	height:100vh;
	padding:15px 0 0 30px;
}

// #######################
///// GAME CARD COMPONENT
// #######################

.journey{
	background-color:white;
	border:1px solid #E9E9E9;
	text-align:left;
	height:48px;
	margin-top:-1px;// Temporary solution
	width:570px; // To be removed when layout in place
}
.journey h2{
	font-size:14px;
	font-weight:700;
	margin: 15px 0 0 32px;
	//color:#05DFAA;
}
.fixture{
	background-color:white;
	border:1px solid #E3E3E3;
	position:relative;
	text-align:center;
	margin-top:-1px;
	padding:18px 0 18px 0;
	width:570px; // To be removed when layout in place
}
.fixture:hover{
	background-color:#F7FBFA;
	cursor:pointer;
}
.fixture-topline{
	//background-color:orange;
	display:flex;
	align-items:center;
	justify-content: space-between;
}
.fixture-topline-home{
	//background-color:red;
	flex:0 0 240px;
	display:flex;
	align-items:center;
	text-align:right;
}
.rank{
	flex:1 0 auto;
	color:#B5B5B5;
	font-weight:bolder;
	font-size:12px;
	font-weight:500;
}
.team{
	color:#474D4C;
	background-color:#F4F4F4;
	//background-color:lighten(#029FE3,50%);
	border-radius:3px;
	padding:4px 9px;
	font-weight:700;
}
.home{
	margin-left: 10px;
}
.away{
	margin-right: 10px;
}
.fixture-topline-info h3{
	margin:0 0 2px 0;
	font-size:12px;
}
.fixture-topline-info p{
	margin:0;
	font-size:12px;
}
.fixture-topline-info h2{
	margin:0 0 2px 0;
	font-size:16px;
}
.fixture-topline-away{
	//background-color:blue;
	flex:0 0 240px;
	display:flex;
	align-items:center;
	text-align:left;
}
.fixture-bottomline{
	display:flex;
	justify-content: space-between;
	//background-color:pink;
	color:#5A5A5A;
	font-weight:700;
	font-size:12px;
	padding-top:13px;
}
.fixture-bottomline ul{
	list-style:none;
	padding:0;
	margin:0;
}
.fixture-bottomline li{
	padding:0;
}
.home-proba{
	flex:1 0 auto;
	text-align:right;
	padding-right:30px;
}
.away-proba{
	flex:1 0 auto;
	text-align:left;
	padding-left:30px;
}
.events {
	flex:1 0 278px;
	color:#BEBEBE;
	font-weight:400;
}
.home-events{
	text-align:right;
	padding-right:7px;
}
.away-events{
	text-align:left;
	padding-left:7px;
}
.fixture-button{
	text-decoration:none;
	position:absolute;
	width: 25px;
  	height: 25px;
  	border-radius:50%;
  	display:flex;
  	align-items:center;
  	justify-content: space-around;
}
.fixture-button:hover{
	background-color:#EAFBF7;
	cursor:pointer;
	transform: scale(1.15);
}
.bookmark{
	top:6px;
	right:3px;
}
.share{
	bottom:6px;
	right:3px;
}

// #######################
///// RANKING COMPONENT
// #######################

.ranking-width{
	width:310px;
}
.ranking-head{
	position:relative;
	background-color:#F7FBFA;
	text-align:left;
	height:40px;
	border-bottom:1px solid #D8D8D8;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
}
.ranking-head h2{
	position:absolute;
	font-size:14px;
	font-weight:700;
	margin:12px 0 0 20px;
}
.ranking-container{
	background-color:#F7FBFA;
	padding:15px 0 1px 0;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}
.ranking-team{
	display:flex;
	align-items:center;
	justify-content: space-between;
	margin:0 0 15px 40px;
}
.ranking-team-name{
	//background-color:orange;
	flex:0 0 50px;
	font-weight:700;
	font-size:13px;
}
.ranking-latest img{
	margin-right:8px;
}
.ranking-gbo{
	font-size:12px;
	margin-right:30px;
}